/* Sticky Footer */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

/* Imgs Pro */
.fo {
	height: 100%;
	width: 50%;
}

.hole
{
/*	background: -webkit-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 87%, rgba(183,222,237,1) 100%);
	 z-index: -1;*/
}


/* Carousel */
.carousel-caption {
    color: #000000;
    border-radius: 25px;
    color: white;
}

#carousel-example-generic {
    background-color: #FFFFFF;
    border-radius: 25px;
}

.carousel-indicators li {
  background-color: #E0E0E0;
  border-radius: 25px;
}
.carousel-indicators .active {
  background-color: #3366FF;
<<<<<<< HEAD
  border-radius: 25px;
}
.carousel-control{
      border-radius: 25px;
}
.carousel-inner img{
    width: 100%;
    height: auto;
    border-radius: 25px;
}
.carousel-caption{
    color: white;
    border-radius: 25px;
}
body {
   background: -webkit-linear-gradient(45deg,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);

}

footer{
  font-variant: small-caps; 
  text-decoration: underline;
}
.tab-pane > h2{
  font-style: italic;
}

ul.nav-pills.nav-stacked.collapse{
  list-style-type: none;
  color: white;

}
div.jumbotron{
  background: url(/Images/flores/rosa-header.jpg);
  background-size: 1600px 1200px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 120px;
  color: white;
  border: double;
}
.nav{
  border: dotted;
  border-radius: 25px;
  padding: 6px 6px 6px 6px;
}
#catalogo > div div img{
  border: double;
  border-radius: 25px;
  padding: 6px 6px 6px 6px;
}
#catalogo > div div p{
  font-style: oblique;
  padding: 6px 6px 6px 6px;
}

.carousel-inner > div > img {

  width: 100%;
  height: auto;

}
#logo{
  height: 200px;
  width: 200px;
  background: #ddf1f9 35%;
  border-radius: 150px;
  padding: 6px 6px 6px 6px;
}
h1 > small{
  font-style: italic;
}
