<div class="tab-pane" id="about">
<p>
Nacimos el 11 de enero del 19789, en un local retnado ubicado en la Calle Sabana Larga #138, Santiago Republica Dominicana.</p>

<h2> Mision</h2>
<p>Nuestra Mision es llegar alegria y solidaridad en cada uno de nuestros productos, a la persona que los recibe y satisfacion total a la persona que ordena, ofertandoles un servicio y calidad a nivel mundial.
</p>
<h2>Meta</h2>
Nuestra meta, es ser la empresa mas importante en el servicio de flores, es por esto que nos presentemos ante usted para que compruebe que somos los mas preocupados servidores de flores con amor en todo el mundo.

<h2> Vision </h2>
<p>Nuestra vision, es hacer que el amor perdure, haciendo cortar las distancias, dandoles la oportunidad de enviar sus flores desde cualquier lugar del mundo donde se encuentre, desde la comodidad de su computador, telefono,
fax o visitando cualquiera de neustras tiendas fisicas.<p>

</div>