<div class="tab-pane" id="catalogo">

	<div class="container"><br>
		<div ng-repeat="flor in flores" class="row">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<p> {{flor[0].title}} </p>
				<img  ng-attr-src="{{flor[0].link}}" > 
			</div><div <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<p> {{flor[1].title}} </p>
				<img  ng-attr-src="{{flor[1].link}}" >
			</div><div <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<p> {{flor[2].title}} </p>
				<img  ng-attr-src="{{flor[2].link}}" >
			</div>
		</div>


</div>