<div class="tab-pane"  id="orden">

  	<h2>Orden</h2>

	    <table class="table table-striped table-bordered">
	        <thead>
	            <tr>
	                <th>Título</th>
	                <th>Precio</th>
	                <th>Cantidad</th>
	                <th>Total</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr ng-repeat="orden in ordenes">
	                <td>{{ orden.Titulo }}</td>
	                <td>RD$ {{ orden.Precio }}</td>
	                <td>
	                    <div class="row">
	                        <div class="col-md-9">
	                            {{ orden.Cantidad }} 
	                        </div>
	                        
	                         <div class="col-md-3">
            <a href="javascript:void(0)" class="text-right" ng-click="delete(orden)">
            <span style="font-size:12px;" class="glyphicon glyphicon-minus"></span> </a>

	                        </div>
	                    </div> </td>
	                <td> RD$ {{ orden.Cantidad*orden.Precio}} </td>
	            </tr>
	        </tbody>
	    </table>

  		<h3 class="text-right">Total a Pagar: 
  		<p class="text-success">RD$ {{getMoney()}}</p></h3>

</div>